{{#section "js"}}
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.7/js/fileinput.min.js"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.7/themes/bs5/theme.min.js"
  ></script>
  <script>
    $('#fuMain').fileinput({ theme:'fa', dropZoneEnabled:false,
    allowedFileExtensions:['png','jpg','gif'] })
  </script>
{{/section}}
{{#section "css"}}
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.7/themes/explorer-fa/theme.min.css"
  ></script>
{{/section}}
<form action="/demo/upload" method="POST" enctype="multipart/form-data">
  <div class="card">
    <h5 class="card-header">Upload</h5>
    <div class="card-body">
      <div class="form-group">
        <input id="fuMain" name="fuMain" type="file" class="file" />
      </div>

    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </div>
  </div>
</form>