<form method="POST" action="">
  <div class="card">
    <div class="card-header">
      New category
    </div>
    <div class="card-body">

      <div class="mb-3">
        <label for="txtCatName" class="form-label">Category</label>
        <input
          class="form-control"
          id="txtCatName"
          name="CatName"
          autofocus
        />
        
      </div>

    </div>
    <div class="card-footer text-muted">
      <a class="btn btn-primary" href="/admin/categories" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back to list
      </a>
      
      <button type="submit" class="btn btn-outline-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </a>
    </div>
  </div>
</form>